<h1>Update a Todos</h1>

<section>
<%= form_for @mytodo, url: update_path do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :due_date %>
<%= f.date_field :due_date %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :complete %>
<%= f.check_box :finished %>
<%= f.submit %>
<%end%>
</section>
