<h1>My Todo List</h1>
<p><%= link_to('Add New Todo', new_path) %></p>
<% @mytodos.each do |todo|%>
      <article class="tile">
    <h2> <%= link_to(todo.title, show_path(todo[:id]))%></h2>
    <p class="link"><%= link_to('Edit', edit_path(todo.id)) %></p>
        <% if todo.finished
        button_label = "Mark Not complete"
        else
        button_label = "Mark complete"
        end %>
      <p><%= button_to button_label, toggle_path(todo.id), method: :patch %></p>
      <p><%= button_to 'Delete', {action: "destroy", id: todo.id}, method: :delete, data: {confirm: "Are you sure?"} %></p>
  <%end%>
    </article>
