<h1>My Todo List</h1>

<article>

  <h2> <%= link_to(@mytodo.title) %></h2>
    <h3> <%= @mytodo.description %><h3>
        <%if @mytodo.finished
           status = "Task Complete"
        else
        status = "Task Not Complete"
        end%>

      <h3> <%= status %><h3>
  <p><%= link_to('Edit', edit_path(@mytodo.id)) %></p>
  <p><%= button_to 'Delete', {action: "destroy", id: @mytodo.id}, method: :delete, data: {confirm: "Are you sure?"} %></p>


</article>
